/* Remove default margin and padding  */
* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

/* Google map styling */
#map {
  height: 80vh;
  border: 5px solid #cd9162;
}

header,
footer {
  width: 100%;
  height: 9vh;
  background: rgba(0, 0, 0, 0.94);
  display: flex;
}

h1 {
  font-family: Fugaz One, cursive;
  position: absolute;
  width: 293px;
  height: 59px;
  left: 4px;
  top: 15px;
  font-size: 45px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2em;
  margin-left: 20px;
  color: #cd9162;
  vertical-align: text-bottom;

}

#logo {
  width: 40%;
  margin-top: 25px;
  margin-left: 20px;
}

/* Buttons grid */
.button-container {
  float: right;
  width: 35%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "button-reset button-reset zoom-out zoom-out";
  align-items: center;
  justify-items: center;
}

/* Add new location */
#button-reset {
  grid-area: button-reset;
  cursor: pointer;
}

/*  */
#button-zoom-out {
  grid-area: zoom-out;
  cursor: pointer;
}

/* Searchbar */
.form {
  width: 30%;
}

#autocomplete {
  width: 100%;
  height: 100%;
  border-width: 0px 0px 0px 0px;
  background: none;
  color: #cd9162;
  font-size: 20px;
  font-family: Fugaz One, cursive;
  text-transform: uppercase;
}

/* Autocomplete styling */
.pac-container {
  border: 3px solid #cd9162;
  background: none;
}

.pac-item {
  color: #436b70;
  font-family: Fugaz One, cursive;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.75);
  border: 1px solid #000000;
}

.pac-item-query {
  font-size: 13px;
  padding-right: 3px;
  color: #cd9162;
}

.pac-logo:after,
.pac-icon {
  all: unset;
}

::-webkit-input-placeholder {
  color: #cd9162;
  opacity: 0.6;
}

input[type="text"] {
  padding-left: 5px;
}

input:focus {
  outline: none;
}

/* ----------------------------------------------------------------FOOTER */
/* Footer Social Links */
.social-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "github social1 social2 social3";
  align-items: center;
  justify-items: center;
}

/* GitHub link */
#github {
  grid-area: github;
}

/*  */
#social-placehold1 {
  grid-area: social1;
}

/*  */
#social-placehold2 {
  grid-area: social2;
}

/* Contact form? */
#social-placehold3 {
  grid-area: social3;
}

/* Priority Button Styling */
.gm-style .gm-style-iw-c {
  border-radius: 3px;
  box-shadow: none;
  background: rgb(205, 145, 98, 0.8);
  font-size: 10px;
  border: 3px solid #000000;
}

button {
  z-index: -1;
}

.priorityLow,
.priorityMed,
.priorityHigh {
  width: 12vh;
  padding: 2px;
  font-family: Fugaz One, cursive;
  border: 2px solid #000000;
  text-transform: uppercase;

}

.priorityLow {
  background: rgb(143, 188, 143, .5);
}

.priorityMed {
  background: rgb(255, 217, 0, .5);
}

.priorityHigh {
  background: rgba(220, 20, 60, 0.502);
}

.gm-ui-hover-effect {
  display: none !important;
}